@import "sl-styles";

:host {
    button {
        width: 140px;
        line-height: 42px;
        background-color: $color-base;
        color: white;
        border: none;
        cursor: pointer;
        &.alt {
            background-color: #A8A8A8;
            color: white;
        }
    }
}