:host {
    nav {
        max-width: 90px;
        background-color: white;
        height: calc(100vh - 60px);
        margin-top: 60px;
        width: 90px;
        padding: 0 10px;
    }
    ul  {
        padding: 0;
        margin: 0;

        li {
            display: flex;
            list-style: none;
            text-align: center;
            border-bottom: 1px solid rgba($color: #A8A8A8, $alpha: 0.21);
            cursor: pointer;


            &:last-of-type {
                border: none;
            }

            &.selected a {
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 70px;
                width: 100%;
                margin: auto;
                opacity: 0.4;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}